@import "./styles.scss";

.all-pages {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0.7em;
	border-radius: 8px;

	a {
		text-decoration-line: none;
		color: $link-color;
		font-weight: bold;
	}

	a:hover {
		color: $link-hover-color;
	}

}