.info-bg {
	background-color: beige;
}

.actor-cards-container {}

.actors-card-body-scroll.side-scroll {
	@media screen and (max-width: 576px) {
		max-height: 40rem;
	}

	@media screen and (max-width: 1200px) {
		max-height: 35rem;
	}

}

.scroll-bar-actors {
	max-height: 20rem;
}

.scroll-bar-actors,
.actors-card-body-scroll {
	overflow: scroll;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

}

.scroll-bar-actors::-webkit-scrollbar,
.actors-card-body-scroll::-webkit-scrollbar {
	display: none;
}


#actor-links,
#actor-card-links {
	font-weight: 400;
	color: bisque;

	&:hover {
		color: $link-color;
	}
}