.info-bg {
	background-color: beige;
}

.scroll-bar-actors {

	max-height: 20rem;
}

.scroll-bar-actors,
.actors-card-body-scroll {
	overflow: scroll;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */

}

.scroll-bar-actors::-webkit-scrollbar,
.actors-card-body-scroll::-webkit-scrollbar {
	display: none;
}


#actor-links {
	font-weight: 400;
	color: bisque;

	&:hover {
		color: $link-color;
	}
}