$breadFont: 'Rubik', sans-serif;
$breadFont-weight: 300;
$breadFont-color: beige;
$link-color: #bc050f;
$link-hover-color: #da3c43;
$link-visited-color: #e13941;
$quote-marks-font: 'Playfair Display', serif;
$quote-marks-color: #e139418e;
$quote-marks-font-weight: 500;
$quote-offset: -0.3rem;