@import "../styles.scss";

#loading-spinner-container {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	z-index: 100000;

	#loading-img {
		width: 12rem;
		border: $breadFont-color solid 0.35rem;
		border-radius: 8rem;
	}

}