@import "../styles.scss";

#quote-container {
	position: relative;
	display: inline-block;
	padding: 4.2rem;
	margin: 0rem;

	.italic {
		font-style: italic;
	}

	.quotes {
		font-family: $quote-marks-font;
		color: $quote-marks-color;
		font-weight: $quote-marks-font-weight;
		font-size: 10rem;
		margin: 0;
	}

	.start-quote {
		transform: rotate(-180deg);
		position: absolute;
		top: $quote-offset;
		left: $quote-offset;
	}

	.end-quote {
		position: absolute;
		bottom: $quote-offset;
		right: $quote-offset;
	}


}